[build-system]
requires = ["scikit-build-core"]
build-backend = "scikit_build_core.build"

[project]
name = "lammps"
version = "2022.6.23.2.0"

[tool.scikit-build]
wheel.install-dir = "lammps"
wheel.py-api = "py2.py3"
cmake.args = [
    "-D LAMMPS_VERSION=stable_23Jun2022_update2",
    "-D PKG_PLUGIN=ON",
    "-D PKG_KSPACE=ON",
    "-D LAMMPS_EXCEPTIONS=ON",
    "-D BUILD_SHARED_LIBS=ON",
    "-D LAMMPS_INSTALL_RPATH=ON",
    "-D PKG_PYTHON=ON",
]

[tool.cibuildwheel]
build = ["cp311-*"]
skip = ["*-win32", "*-manylinux_i686", "*-musllinux*"]
build-verbosity = "1"

[tool.cibuildwheel.linux]
before-all = [
    "yum install -y wget libpng12-devel zlib-devel libjpeg-devel",
]

[tool.cibuildwheel.macos]

before-all = [
'''if [[ "$CIBW_BUILD" == *macosx_arm64* ]]; then
    install_arm=( libpng zlib jpeg-turbo )
    for i in "${install_arm[@]}"; do
        response=$(brew fetch --force --bottle-tag=arm64_big_sur $i | grep Downloaded )
        download_path=$(echo $response | xargs -n 1 | tail -1)
        brew reinstall $download_path
    done
fi
'''
]